@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #15090a;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #DDCBCB;
}

body::-webkit-scrollbar-thumb {
  background-color: #15090A;
}